@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset css */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.react-tabs__tab {
  height: 40px;
}

.react-tabs__tab-panel--selected {
  height: calc(98% - 40px);
}
