@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset css */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.link {
  stroke: #90e0ef;
  stroke-opacity: 0.8;
  stroke-width: 30px;
}
.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
text {
  font: 50px sans-serif;
  color: yellow;
  pointer-events: none;
}

.react-tabs__tab {
  height: 40px;
}

.react-tabs__tab-panel--selected {
  height: calc(98% - 40px);
}
